<div class="bg-slate-300 p-8 mt-10 w-3/4 mx-auto">

    <div class="w-40">
        <!--form [formGroup]="form" (submit)="send()"-->
        <form [formGroup]="formLogin" (submit)="send()">
    
            <!-- input email -->
            <div class="my-5">
                <label for="email" class="text-slate-500">Email</label>
                <input type="text" id="email" formControlName="email" class="py-1 px-3 rounded mt-3">
            </div>
            
            <!-- input pass -->
            <div class="my-5">
                <label for="pass" class="text-slate-500">Password</label>
                <input type="password" id="password" formControlName="password" class="py-1 px-3 rounded mt-3">
            </div>
            

            <!-- input pass -->
            <div class="my-5">
                <input type="checkbox" id="term" formControlName="term" class="w-5 h-5 rounded mr-3">
                <label for="pass">Terminos</label>
            </div>


            <!-- Button -->
            <div class="my-5 py-1 px-3 text-white bg-blue-500 rounded">
                <button [disabled]="formLogin.invalid">Send</button>
            </div>
        </form>
    </div>

    <div class="bg-black p-4 text-white text-1xl text-yellow-400">
        Status - <span class="text-red-500">{{formLogin.valid}}</span>
    </div>


    <div class="bg-black p-4 text-white text-1xl text-yellow-400 mt-4">
        {{formLogin.value | json}}
    </div>

</div>